@model BibliotecaOnline.Models.Libro

<h2>Detalles del Libro</h2>

<p><b>Título:</b> @Model.Titulo</p>
<p><b>Autor:</b> @Model.Autor</p>
<p><b>Precio:</b> @Model.Precio</p>
<p><b>Stock:</b> @Model.Stock</p>

@Html.ActionLink("Volver", "Index")
